
    
{{ $home := .Site.Home }}
<div class="css-treeview box">
	<ul>
		<li><input type="checkbox" id="item-0" checked="checked" /><label for="item-0">Home</label>
		<ul>
		{{ template "section-tree-nav" $home }}
		</ul>
	</ul>
</div>
{{ define "section-tree-nav" }}
{{ range .Sections.Reverse}}
<li>
	<li><input type="checkbox" id="item-0-0" checked="checked"/><label for="item-0-0">{{ .Title }}</label>
	<ul>
		{{ range .Pages }}
		<li><a href="{{ .RelPermalink}}">{{ .Title }}</a></li>
		{{ end }}
		<ul>
		{{ template "section-tree-nav" . }}
		</ul>
	</ul>
</li>
</li>
{{ end }}
{{ end }}