{{ $pathURL := .Page.Dir}}
{{$pathURL :=  print "./content/" .Page.Dir }}

<ul>
    {{ range (readDir $pathURL) }}
    {{if ne .Name "_index.md"}}
    <li>
        {{ .Name }}
    </li>
    {{ end }}

    {{ end }}
</ul>